.skip-link {
  position: absolute;
  top: -100px;
  left: var(--spacing-xs);
  z-index: 10000;
  padding: var(--spacing-xs) var(--spacing-sm);
  background: var(--color-neutral-light-00);

  &:focus {
    top: var(--spacing-xs);
  }
}

main:focus {
  outline: none;
}
