<po-page-default [p-title]="title()" [p-breadcrumb]="breadcrumb" [p-actions]="actions()">
  @if (request(); as request) {
    <div class="tags">
      <po-tag [p-value]="statusLabels[request.status]" [p-type]="statusTagType[request.status]" />
      @if (overdue()) {
        <po-tag p-value="Atrasada" [p-type]="danger" />
      }
    </div>

    <div class="po-row">
      <po-info
        class="po-sm-12 po-md-6 po-lg-3"
        p-label="Categoria"
        [p-value]="request.category.name"
      />
      <po-info
        class="po-sm-12 po-md-6 po-lg-3"
        p-label="Solicitante"
        [p-value]="request.requester.name"
      />
      <po-info
        class="po-sm-12 po-md-6 po-lg-3"
        p-label="Aberta em"
        [p-value]="(request.createdAt | date: dateTimeFormat) ?? ''"
      />
      <po-info
        class="po-sm-12 po-md-6 po-lg-3"
        p-label="Prazo de atendimento"
        [p-value]="(request.dueAt | date: dateTimeFormat) ?? ''"
      />
    </div>

    <po-divider p-label="Descrição" />
    <p class="po-font-text description">{{ request.description }}</p>

    <po-divider p-label="Histórico" />
    <po-table
      [p-columns]="historyColumns"
      [p-items]="history()"
      [p-hide-columns-manager]="true"
      [p-hide-table-search]="true"
    />
  }
</po-page-default>
